.mainWrapper {
    max-width: 1200px;
    display: flex;
    justify-content:flex-start;
}
.sideBar {
    width: 250px;
    margin-right: 100px;
}

.goButton {
    width: 32px;
}

.imageTable {
    width: 280px;
    height: 800px;
    overflow-y: scroll;
}

.imageTable img {
    height: 130px;
    width: 130px;
}

.albumTitleOptions {
    line-height: 0;
}

.options {
    line-height: 2;
}

.square {
    display:flex;
    background-color: white;
    justify-content: center;
    align-items: center;

}

.chart {
    height:fit-content;
    background-color:black;
    border-style:solid;
    border-width:2px;
    border-color:gray;
    padding: 30px;
    display:flex;
}

.squareRow {
    display:flex;
    justify-content:center;
    align-items:center;
}